<% layout('layouts/boilerplate') %>

    <div class="container">
        
        <div class="col-10 offset-1 col-md-6 offset-md-3 text-center">
            <h1 class="text-dark mb-4">Login</h1>
            <form action="/operations/index" method="get">

                <input type="text" name="user" placeholder="Utente" id="user" class="form-control mb-4">
                <input type="password" name="pass" placeholder="Password" id="pass" class="form-control mb-4">
                <button type="submit" id="" class="btn btn-info ">Login</button>
            </form>
        </div>
    </div>