<% layout('layouts/boilerplate') %>
    <div class="container text-center">
        <div class="col-6 offset-3">


            <h1 class="text-light m-3">
                Operations
            </h1>

            <div class="row mt-5 g-4">

                <div class="col-6">
                    <form action="/operations/visita" method="get">
                        <button class="btn btn-info w-100 py-4 fw-bold" type="submit">
                            Visita
                        </button>
                    </form>
                </div>

                <div class="col-6">
                    <form action="/operations/cliente" method="get">
                        <button class="btn btn-info w-100 py-4 fw-bold" type="submit">
                            Cliente
                        </button>
                    </form>
                </div>

                <div class="col-6">
                    <form action="/operations/interesse" method="get">
                        <button class="btn btn-info w-100 py-4 fw-bold" type="submit">
                            Interesse
                        </button>
                    </form>
                </div>

                <div class="col-6">
                    <form action="/operations/ricerca" method="get">
                        <button class="btn btn-info w-100 py-4 fw-bold" type="submit">
                            Ricerca
                        </button>
                    </form>
                </div>

            </div>
        </div>
    </div>