<% layout('layouts/boilerplate') %>
    <div class="container">

        <div class="col-10 offset-1 col-md-6 offset-md-3">
            <h1 class="text-dark m-3">
                Nuova Visita
            </h1>

            <form action="/fine_demo" method="get">

                <div class="mb-3">
                    <label class="form-label text-dark">
                        Data
                    </label>

                    <input type="date" class="form-control" name="data">
                </div>

                <div class="mb-3">
                    <label class="form-label text-dark">
                        Immobile
                    </label>

                    <input type="text" class="form-control" name="immobile" placeholder="Inserisci immobile">
                </div>

                <div class="mb-3">
                    <label class="form-label text-dark">
                        Cliente
                    </label>

                    <input type="text" class="form-control" name="cliente" placeholder="Inserisci cliente">
                </div>

                <div class="mb-4">
                    <label class="form-label text-dark">
                        Note
                    </label>

                    <textarea class="form-control" rows="4" name="note" placeholder="Inserisci note"></textarea>
                </div>

                <button class="btn btn-info fw-bold px-4 py-2" type="submit">
                    Salva Visita
                </button>

            </form>
        </div>
    </div>